* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
nav .navbar {
    /* min-height: 70px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-top: 1em;
  font-size: 22px;
}
nav .nav-link {
  transition: 0.3s ease-out;
}
nav .nav-link:hover {
  color: dodgerblue;
}
nav ul li {
    list-style-type: none;
}
nav ul li a {
    text-decoration: none;
    color: white;
}
.hamburger-menu-container{
  max-width: 1224px;
  width: 90%;
  margin: 0 auto;
}
.hamburger {
  display: none;
  cursor: pointer;
  padding-top: .5em;
  position: absolute;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
}
.main-photo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)), url("../images/deadlift-man.jpg");
    clip-path: polygon(0 90%, 50% 100%, 100% 90%, 100% 0, 0 0);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    height: 300px;
    color: white;
}
.main-photo h1 {
    letter-spacing: .1rem;
    font-weight: 400;
    text-align: bottom;
}
.main-text {
    padding-top: 7em;
    font-size: 24px;
    text-align: center;
}
.main-btn {
    width: 150px;
    height: 50px;
    display: block;
    margin: auto;
    margin-top: .3em;
    font-size: 18px;
    letter-spacing: .1rem;
    background-color: rgba(0, 0, 0, 0.65);
    border: .5px solid rgba(0, 128, 0, 0.4);
    border-radius: 4px;
    color: white;
}
.main-btn:hover {
    cursor: pointer;
}
.main-logo {
  display: block;
  width: 100%;
  height: 300px;
  margin: auto;
}
.second-header-photo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),
  rgba(0, 0, 0, 0.7)), url("../images/twoplatebench.jpg");
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  height: 300px;
  color: white;
}
.second-header {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1em;
}
.second-header-photo {
  display: flex;
  align-items: center;
}
.bench-press-photo-text-container {
  display: flex;
}
.bench-press-photo-text-container p {
  font-size: 1.1rem;
  line-height: 1.8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.one,
.two,
.three {
  font-size: 8rem;
}
.equipment {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  line-height: 5rem;
  color: #39e75f;
  border-bottom: 3px solid #39e75f;
}
.third-header-photo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),
  rgba(0, 0, 0, 0.7)), url("../images/dumbbellrow.webp");
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  height: 300px;
  color: white;
  margin-top: 2em;
}
.dumbbell-row-photo-text-container {
  display: flex;
  justify-content: flex-end;
}
.people {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  line-height: 5rem;
  color: #39e75f;
  border-bottom: 3px solid #39e75f;
  margin-left: .5rem;
}
.dumbbell-row-photo-text-container p {
  width: 50%;
  font-size: 1.1rem;
  line-height: 1.8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.fourth-header-photo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),
  rgba(0, 0, 0, 0.7)), url("../images/strong-back.jpg");
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  height: 300px;
  color: white;
  margin-top: 2em;
}
.back-photo-text-container {
  display: flex;
}
.back-photo-text-container p {
  font-size: 1.1rem;
  line-height: 1.8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.hours {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  line-height: 5rem;
  color: #39e75f;
  border-bottom: 3px solid #39e75f;
  margin-left: 2rem;
}
.three {
  margin-left: .5rem;
}
/* MEDIA QUERIES */
@media(max-width:1024px){
    .hamburger{
      display: block;
    }
   .hamburger.active .bar:nth-child(2){
      opacity: 0;
    }
   .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }
   .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }
   .nav-menu{
      position: fixed;
      left: -100%;
      gap: 0;
      flex-direction: column;
      background-color: black;
      width: 100%;
      text-align: center;
      transition: 0.3s;
    }
   .nav-item{
      margin: 16px 0;
    }
   .nav-menu.active{
      left: 0;
    }
  }